footer {
    height: 175px;
    background-color: white;
    display: flex;
    p {
        color: black;
    }
    .footer-address {
        padding: 30px;
        font-size: 25px;
    }
    .footer-copyright {
        padding: 5px;
        font-size: 15px;
        font-style: italic;

    }
}