.home {
    height: 100%;
    background-color: black;
    .title {
        h1 {
            width: 100%; 
            text-align: center; 
            border-bottom: 1px solid #000; 
            line-height: 0.1em;
            margin: 10px 0 20px; 
         } 
         
         h1 span { 
             background: black; 
             padding:0 10px; 
             
         }
    }
    .banner {
        height: 50%;
        background-color: lightcoral;
    }
    .small-desc {
        height: 50%;
        background-color: lightcyan;
    }
    .circle-imgs {
        height: 100%;
        background-color: lightpink;
    }
}